<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CorssBrowserTesting" verbose="1" thread-count="5">
	
	<test name="RegressionOnChrome">
		<parameter name="browser" value="chrome" />
		<packages>
			<package name="com.test.advance.*" />
		</packages>
	</test>
	<test name="RegressionOnFirefox">
		<parameter name="browser" value="firefox"></parameter>
		<packages>
			<package name="com.test.advance.*"></package>
		</packages>
	</test>
	
</suite>